<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freeboard">

	<select id="free_select" resultType="free_dto">
		select free_no, username,
		free_title, free_hiredate, free_count
		from freeboard order by free_no desc
	</select>
	<select id="free_view" parameterType="int" resultType="free_dto">
		select
		free_no, username, free_title, free_content,free_filename,
		free_hiredate,
		free_count
		from freeboard where free_no=#{free_no}
	</select>
	<insert id="free_insert" parameterType="free_dto">
		insert into freeboard
		values(seq_free.nextval, #{username},#{free_password},#{free_title},
		#{free_content},#{free_filename},#{free_filesize},sysdate,0)
	</insert>
	<select id="found_free_no" resultType="int">
		select free_no from freeboard where rownum=1 order by free_no desc
	</select>
	<!-- 조회수 증가 -->
	<update id="add_free_count" parameterType="int">
		update freeboard set
		free_count=free_count+1 where free_no=#{free_no}
	</update>
	<!-- 삭제 -->
	<delete id="free_delete" parameterType="free_dto">
		delete from freeboard
		where free_no=#{free_no} and free_password=#{free_password}
	</delete>
	<!-- 수정 -->
	<select id="free_modify_select" parameterType="free_dto"
		resultType="free_dto">
		select free_no, username, free_title, free_content,
		free_filename from
		freeboard where free_no=#{free_no} and
		free_password=#{free_password}
	</select>
	<update id="free_modify" parameterType="free_dto">
		update freeboard set
		free_password=#{free_password},
		free_title=#{free_title},
		free_content=#{free_content},
		free_filename=#{free_filename}
		where
		free_no=#{free_no} and username=#{username}
	</update>
	<!-- 삭제, 수정 전 패스워드 찾기 -->
	<select id="found_password" parameterType="int" resultType="String">
		select free_password from freeboard where free_no=#{free_no}
	</select>

</mapper>